body {
    width: 100%;
    height: 100%;
    background-color: #56536A;
}

#title {
    width: 100%;
    height: 40px;
    /*text-align: center;*/
}


    #title h1 {
        color: white;
        font-size: xx-large;
        height: 100%;
        text-align: center;
    }

#border {
    width: 100%;
    /*background-color: #56536A;*/
}

#menu {
    /*background-color:#808080;*/
    width:20%;
    height:400px;
    float:left;
}

.panel{
    background-color:white;
    width:80%;
    float:right;
}
